<app-navbar (getNewGameEmitter)="loadPreparedData($event)"></app-navbar>

<div class="loading">
  <ng-container *ngIf="isLoading">
    <div class="spinner-grow text-success" role="status"></div>
    <div class="spinner-grow text-danger" role="status"></div>
    <div class="spinner-grow text-warning" role="status"></div>
  </ng-container>
</div>
<!-- tableArr: {{tableArr | json}}
  <br>  ------------ <br> -->
  <!-- solvedArr: {{solvedArr | json}} -->

<table id="customers" [ngClass]="{'normalState': !hasError && !showSuccess, 'alert alert-danger': hasError, 'alert alert-success': showSuccess}">
  <tbody>
    <tr *ngFor="let row of emptyNineCellsArr, let rowIndex = index">
      <ng-container *ngFor="let el of emptyNineCellsArr , let col =  index">
        <td id="{{rowIndex + '_' + col}}" attr.data-el="{{el}}" (click)="showInput(rowIndex + '_' + col)" >
          <inputAndDiv elemId="{{rowIndex + '_' + col}}" [tableArr]="tableArr" [rowIndex]="rowIndex" [col]="col"
            [(openedId)]="openedId" (updateOpenedId)="showInput($event)"></inputAndDiv>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>


<button type="button" class="btn btn-secondary" (click)="checkUserSolution()">check my solution</button>
<button type="button" class="btn btn-success" (click)="showSolvedSudoku()">solve it for me</button>
<button type="button" class="btn btn-warning" (click)="fillUpInitialTable()">clear table</button>
<br>
<!-- <button type="button" class="btn btn-light" (click)="loadPreparedData(1)">load level 1</button>
<button type="button" class="btn btn-info" (click)="loadPreparedData(2)">load level 2
</button>
<button type="button" class="btn btn-danger" (click)="loadPreparedData(3)">load level 3</button> -->
<br>
