.cheap {
    /* background-color: rgb(215, 250, 162); */
    background-color: rgba(144, 239, 0, 0.62);
    /* background-color: red; */
    
}



.limitsBox {
    float: right;
    & div{
        border-style: groove;
        float: right;
        clear: both;
        width: 21rem;
    }

    & input {
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 2px;
    }


}

.lastUpdateStyle {
    float: left;
    width: 19rem;
    margin-left: 1rem;
    margin-top: 1.7rem;
    border-color: lightcoral;
    border-style: double;
}