<p>
  table works!
</p>

<h2>Hello from Baar</h2>

<h1>TABLE</h1>
<table id="customers">
  <tbody>
    <tr *ngFor="let row of table | keyvalue, let rowIndex = index">
      <!-- row: {{row}} -->
      <!-- rowKey: {{row.key}} -->
      <!-- rowIndex: {{rowIndex}} -->
        <ng-container *ngFor="let el of transferToArr(row.value) , let col =  index" >
        
          <!-- arr: {{table['b']}} -->
          <!-- el: {{el}} -->
          <!-- {{rowIndex + "_" + col + "_" + el }}  -->
           <!-- name {{getBoxName(rowIndex)}}  -->
          <td id="{{rowIndex + '_' + col}}" [ngStyle]="getBorderStyle(col, rowIndex)"  (click)="showInput($event)"><inputAndDiv [table]="table" [boxName]="getBoxName(rowIndex)" [rowIndex]="rowIndex" [col]="col" [openedId]="openedId" [el]="el"></inputAndDiv></td>
          
        </ng-container>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-success" (click)="check()">check
  <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

</button>
<button type="button" class="btn btn-info" (click)="loadPreparedData()">load prepared table</button>
<button type="button" class="btn btn-warning" (click)="clearTable()">clear table</button>
