<p>
  table works!
</p>

<h2>Hello from Baar</h2>

<h1>TABLE</h1>
<!-- <input type="text" [(ngModel)]="test"> -->
table: {{tableValues | json}}
<table id="customers">
  <tbody>
    <tr *ngFor="let row of tableArr | keyvalue, let rowIndex = index">
      <!-- row: {{row}} -->
      <!-- rowKey: {{row.key}} -->
      <!-- rowIndex: {{rowIndex}} -->
        <ng-container *ngFor="let el of transferToArr(row.value) , let col =  index" >
        
          <!-- arr: {{tableArr['b']}} -->
          <!-- el: {{el}} -->
          <ng-container *ngIf="col < 3">
            <!-- <tdBox [tableArr]="tableArr" [col]="col" [rowIndex]="rowIndex"></tdBox> -->
            <td (click)="showInput($event)" id="{{getTdId(rowIndex, col)}}"  *ngIf="checkRowIndex(rowIndex, 0, 3, 6 )" [ngStyle]="getBorderStyle(col, rowIndex)" ><inputAndDiv [tableArr]="tableArr" [openedId]="openedId" [rowIndex]="rowIndex" [col]="col"></inputAndDiv></td>
            <td (click)="showInput($event)" id="{{getTdId(rowIndex -1, col + 3)}}" *ngIf="checkRowIndex(rowIndex, 1, 4, 7 )" [ngStyle]="getBorderStyle(col, rowIndex)" ><inputAndDiv [(tableArr)]="tableArr" [openedId]="openedId" [rowIndex]="rowIndex - 1" [col]="col + 3"></inputAndDiv></td>
            <td (click)="showInput($event)" id="{{getTdId(rowIndex -2, col + 6)}}" *ngIf="checkRowIndex(rowIndex, 2, 5, 8 )" [ngStyle]="getBorderStyle(col, rowIndex)"  ><inputAndDiv  [tableArr]="tableArr" [openedId]="openedId" [rowIndex]="rowIndex - 2" [col]="col + 6"></inputAndDiv></td>
          </ng-container>
          <ng-container *ngIf="col > 2 && col < 6">
            <td (click)="showInput($event)" id="{{getTdId(rowIndex + 1, col -3)}}" *ngIf="checkRowIndex(rowIndex, 0, 3, 6 )" [ngStyle]="getBorderStyle(col, rowIndex)" ><inputAndDiv [tableArr]="tableArr" [openedId]="openedId" [rowIndex]="rowIndex + 1" [col]="col -3"></inputAndDiv></td>
            <td (click)="showInput($event)" id="{{getTdId(rowIndex, col)}}" *ngIf="checkRowIndex(rowIndex, 1, 4, 7 )" [ngStyle]="getBorderStyle(col, rowIndex)" ><inputAndDiv [tableArr]="tableArr" [openedId]="openedId" [rowIndex]="rowIndex" [col]="col"></inputAndDiv></td>
            <td (click)="showInput($event)" id="{{getTdId(rowIndex -1, col + 3)}}" *ngIf="checkRowIndex(rowIndex, 2, 5, 8 )" [ngStyle]="getBorderStyle(col, rowIndex)" ><inputAndDiv [tableArr]="tableArr" [openedId]="openedId" [rowIndex]="rowIndex -1" [col]="col +3"></inputAndDiv></td>
          </ng-container>
          <ng-container *ngIf="col > 5 && col < 9">
            <td (click)="showInput($event)" id="{{getTdId(rowIndex + 2, col -6)}}" *ngIf="checkRowIndex(rowIndex, 0, 3, 6 )" [ngStyle]="getBorderStyle(col, rowIndex)" ><inputAndDiv [tableArr]="tableArr" [openedId]="openedId" [rowIndex]="rowIndex + 2" [col]="col - 6"></inputAndDiv></td>
            <td (click)="showInput($event)" id="{{getTdId(rowIndex + 1 , col - 3)}}" *ngIf="checkRowIndex(rowIndex, 1, 4, 7 )" [ngStyle]="getBorderStyle(col, rowIndex)" ><inputAndDiv [tableArr]="tableArr" [openedId]="openedId" [rowIndex]="rowIndex + 1" [col]="col -3"></inputAndDiv></td>
            <td (click)="showInput($event)" id="{{getTdId(rowIndex, col)}}" *ngIf="checkRowIndex(rowIndex, 2, 5, 8 )" [ngStyle]="getBorderStyle(col, rowIndex)" ><inputAndDiv [tableArr]="tableArr" [openedId]="openedId" [rowIndex]="rowIndex" [col]="col"></inputAndDiv></td>
          </ng-container>
        </ng-container>
    </tr>
  </tbody>
</table>
<a (click)="tryWith1()">try with  1</a><br>
<a (click)="checkTable()">check table</a><br>
<a (click)="loadPreparedData()">load prepared table</a><br>
<button type="button" class="btn btn-info" (click)="loadPreparedData()">load prepared table</button>
<button type="button" class="btn btn-warning" (click)="clearTable()">clear table</button>
